.sidebar-nav {
    position: fixed;
    display: block;
    left:0;
    top:40%;
    z-index: 999;
    border:1px solid lightgrey;
}

.sidebar-nav .active{
background: white;
}

svg:not(:root).svg-inline--fa {
    font-size: 30px;
}

span {
    display:block;
}
