<div class="card">
      <div class="card-block">
          <h4 class="card-header">Your current projects</h4>
          <div class="card-body">
                  <div *ngFor="let project of projects; let i = index" class="card-block bg-light">
                      <h5 class="card-header">{{project.projectName}}</h5>
                      <div class="card-body">
                          {{project.description}}
                      </div>
                      <div class="card-footer">
                        <a class="card-link clickable"><i class="fas fa-hourglass-start"></i></a>
                        <a class="card-link clickable"><i class="fas fa-search"></i></a>
                        <a class="card-link clickable  float-right" (click)="deleteProject()"><i class="fas fa-trash-alt"></i></a>
                      </div>
                  </div>
      </div>
        </div>
    </div>