.tasks-table {
    border:1px solid lightgrey;
    margin-top:30px;
    border-radius:20px;
}

.task-list {
    margin-bottom: 20px;
    min-height: 160px;
}

.add-task-bar {
    margin-top:50px;
}

.list-group-item{
    margin-top:20px;
    min-height:150px;
}

ul {height: 100%;}

.column-title {
    margin-top:10px;
}

.icons {
    font-size: 1.9em;
    margin-left:2px;
    cursor: pointer;
}

.marked {
    background-color:#b2fab4;
}